@media only screen and (max-width: 768px) {
  .tablet {
    display: none;
  }

  .desk-mob {
    display: block;
  }

  #container {
    width: 76.8rem;
    height: 356.3rem;
    padding: 3rem;
    overflow: hidden;
  }

  #header {
    width: 76.8rem;
    height: 60rem;
  }

  .dev-img-social {
    width: 32.2rem;
    height: 60rem;
  }

  .dev-img {
    width: 32.2rem;
    height: 60rem;
    position: absolute;
    top: 0rem;
    left: 44.5rem;
    z-index: -1;
    content: url("./assets/images/image-profile-tablet.webp");
  }

  .social {
    top: 3.3rem;
    left: 54.6rem;
  }

  .rings-pattern-1 {
    width: 53rem;
    height: 12.9rem;
    position: absolute;
    top: 8.6rem;
    left: -26.5rem;
  }

  .developer {
    top: 2.9rem;
    left: 3rem;
  }

  .heading {
    width: 44.5rem;
    height: 44.9rem;
    top: 15.1rem;
    left: 3.2rem;
  }

  .heading h1 {
    font-size: 7.2rem;
    line-height: 1.25;
  }

  .heading p {
    font-size: 1.75rem;
    margin-top: 6rem;
    line-height: 1.5;
  }

  .dev-contact {
    width: 12rem;
    height: 3.8rem;
    top: 56.2rem;
    left: 3.2rem;
    margin-top: 3.4rem;
  }

  .circle {
    width: 12.9rem;
    height: 12.9rem;
    top: 50.1rem;
    left: 70.3rem;
  }

  #main {
    width: 70.8rem;
    top: 66rem;
    margin-top: 4rem;
  }

  #language {
    width: 70.8rem;
    height: 45.1rem;
    margin-top: 5.2rem;
  }

  .lang {
    width: 34.5rem;
    height: 9.8rem;
    margin-right: 0.7rem;
  }

  .rings-pattern-2 {
    top: 38.9rem;
    right: -36rem;
  }

  #dev-projects {
    width: 70.8rem;
    height: 144.6rem;
    margin-top: 5rem;
  }

  #projects-heading {
    width: 70.6rem;
    height: 7.2rem;
  }

  #projects-heading h2 {
    font-size: 7.2rem;
  }

  .projects {
    width: 70.8rem;
    height: 131.4rem;
    margin-top: 6rem;
  }

  .single-project {
    width: 34.2rem;
    height: 39.8rem;
  }

  .single-project img {
    width: 34.2rem;
    height: 25.3rem;
  }

  #overlay:hover a {
    visibility: visible;
  }

  #overlay a {
    visibility: visible;
  }

  #overlay:hover::after {
    z-index: -1;
  }

  .project-hidden {
    width: 27.1rem;
    height: 3.8rem;
    top: 36rem;
    left: 0;
    flex-direction: row;
  }

  .project-hidden a {
    color: var(--white);
  }

  #footer {
    width: 144rem;
    height: 67.5rem;
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkGray);
    position: relative;
    overflow: hidden;
  }
}
